{% extends 'base.html' %} {% block content %}
<div class="text-center mt-5 mb-5">
  <h1 class="mb-4">No Credit Cards Available</h1>
  <p class="lead">
    We couldn't generate recommendations because there are no credit cards in
    the system.
  </p>
  <div class="mt-4">
    <a href="{{ url_for('credit_cards.new') }}" class="btn btn-primary btn-lg"
      >Add a Credit Card</a
    >
    <a href="{{ url_for('main.index') }}" class="btn btn-secondary btn-lg ms-2"
      >Back to Home</a
    >
  </div>
</div>
{% endblock %}
